{% extends 'base.html.twig' %}

{% block title %}Artefact Sw{% endblock %}

{% block body %}

{% include 'artefactByMonsters/nav.html.twig' %}

<div class="container">
  <div class="row">
    <div class="col">
      {% include 'artefactByMonsters/menuSelect.html.twig' %}
    </div>
    <div class="col-8">
      {% include 'artefactByMonsters/tab.html.twig' %}
    </div>
  </div>
</div>

{% endblock %}