{% extends 'base.html.twig' %}

{% block title %}Artefact Sw{% endblock %}

{% block javascripts %}
<script>

/*
* Permet de récupéré la value de l'option select
* en faisant ce genre de request ajax on peut renvoyé la value dans la request que le controller reprend :
* $idSelect = $request->request->get('idSelect');
* 
*/
$('#monsters_awake').change(function() {
	var idMonsters = $(this).val();
  
	$.ajax({
		url: '{{ path('ajax_monsters_action') }}',
		type: "POST",
		dataType: "json",
			data: {
				"idMonsters": idMonsters
			},
			async: true,
			success: function (data) {
				//show data bound to monsters
				$('#textAjax').text(data.info);
				$('#textAjax2').text(data.info2);
				$('#textAjax3').text(data.info3);
				$('#textAjax4').text(data.info4);
				$('#textAjax5').text(data.info5);
				$('#textAjax6').text(data.info6);
				$('#textAjax7').text(data.info7);
				$('#textAjax8').text(data.info8);
				$('#textAjax9').text(data.info9);
				$('#textAjax10').text(data.info10);
				$('#textAjax11').text(data.info11);
				$('#textAjax12').text(data.info12);
				$('#textAjax13').text(data.info13);
				$('#textAjax14').text(data.info14);
				$('#textAjax15').text(data.info15);
				$('#textAjax16').text(data.info16);
				$('#textAjax17').text(data.info17);
				$('#textAjax18').text(data.info18);
				$('#textAjax19').text(data.info19);
				$('#textAjax20').text(data.info20);
				$('#textAjax21').text(data.info21);
				$('#textAjax22').text(data.info22);
				$('#textAjax23').text(data.info23);
				$('#textAjax24').text(data.info24);
				$('#textAjax25').text(data.info25);
				$('#textAjax26').text(data.info26);
				$('#textAjax27').text(data.info27);
				$('#textAjax28').text(data.info28);
				$('#textAjax29').text(data.info29);
				$('#textAjax30').text(data.info30);
				$('#textAjax31').text(data.info31);
				$('#textAjax32').text(data.info32);
				$('#textAjax33').text(data.info33);
				$('#textAjax34').text(data.info34);
				$('#textAjax35').text(data.info35);
				$('#textAjax36').text(data.info36);
				$('#textAjax37').text(data.info37);
				$('#textAjax38').text(data.info38);
				$('#textAjax39').text(data.info39);
				$('#textAjax40').text(data.info40);
				$('#textAjax41').text(data.info41);
				$('#textAjax42').text(data.info42);
				
				// show modal
				$('#myModal').modal('show');
			}
	})
});

</script>
{% endblock %}

{% block body %}

{% include 'monstersByArtefact/nav.html.twig' %}

<div class="container">
  <div class="card">
    <div class="card-body">
      {{ form_widget(formMonsters.awake) }}  
      {% include 'monstersByArtefact/responseArtefactByMonster.html.twig' %}
    </div>
  </div>
</div>

{% endblock %}