{% extends 'base.html.twig' %}

{% block title %}Artefact Sw{% endblock %}

{% block body %}
    <p id="textAjax"></p>
    <p id="textAjax2"></p>
    <p id="textAjax3"></p>
    <p id="textAjax4"></p>
    <p id="textAjax5"></p>
{% endblock %}