{% extends 'base.html.twig' %}

{% block title %}Artefact Sw{% endblock %}

{% block body %}
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body" id="modal-ajax">
			    <p id="textAjax"></p>
                <p id="textAjax2"></p>
                <p id="textAjax3"></p>
                <p id="textAjax4"></p>
                <p id="textAjax5"></p>
                <p id="textAjax6"></p>
                <p id="textAjax7"></p>
                <p id="textAjax8"></p>
                <p id="textAjax9"></p>
                <p id="textAjax10"></p>
                <p id="textAjax11"></p>
                <p id="textAjax12"></p>
                <p id="textAjax13"></p>
                <p id="textAjax14"></p>
                <p id="textAjax15"></p>
                <p id="textAjax16"></p>
                <p id="textAjax17"></p>
                <p id="textAjax18"></p>
                <p id="textAjax19"></p>
                <p id="textAjax20"></p>
                <p id="textAjax21"></p>
                <p id="textAjax22"></p>
                <p id="textAjax23"></p>
                <p id="textAjax24"></p>
                <p id="textAjax25"></p>
                <p id="textAjax26"></p>
                <p id="textAjax27"></p>
                <p id="textAjax28"></p>
                <p id="textAjax29"></p>
                <p id="textAjax30"></p>
                <p id="textAjax31"></p>
                <p id="textAjax32"></p>
                <p id="textAjax33"></p>
                <p id="textAjax34"></p>
                <p id="textAjax35"></p>
                <p id="textAjax36"></p>
                <p id="textAjax37"></p>
                <p id="textAjax38"></p>
                <p id="textAjax39"></p>
                <p id="textAjax40"></p>
                <p id="textAjax41"></p>
                <p id="textAjax42"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close
			</div>
		</div>
	</div>
</div>
{% endblock %}