{% extends 'base.html.twig' %}

{% block title %}Hello ApiTestController!{% endblock %}

{% block body %}

<table class="table">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Awake</th>
        </tr>
    </thead>
    <tbody>
        {% for monster in monsters %}
            <tr>
                <td>{{ monster.id }}</td>
                <td>{{ monster.awake }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
