{% extends 'base.html.twig' %}

{% block title %}Artefact Sw{% endblock %}


{% block stylesheets %}
<style>
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; // ***********add this
  word-wrap:break-word; // ***********and this
}

</style>
{% endblock %}

{% block body %}

{% include 'artefact_monsters/nav.html.twig' %}

<div class="row" style="margin-left: 5%;">
  <div class="col-2">
    {% include 'artefact_monsters/menuSelect.html.twig' %}
  </div>
  <div class="row" style="margin-left: 10%;">
    <div class="col-8">
      {% include 'artefact_monsters/tab.html.twig' %}
    </div>
  </div>
</div>



{% endblock %}